/*Layout*/
body{
    padding-top:70px;
}

.container{
    max-width: 1000px;
}
/* Jumbotron */

.jumbotron{
    text-align: center;
}

/* Glyphicons */

.glyphicon {
    font-size: 3em;
    display: block;
    text-align: center;
    color: #3a87ad;
}
/*Attribute*/
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    margin:8px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}
/*Font and logo*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rzcsd5');
    src:  url('../fonts/icomoon.eot?rzcsd5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rzcsd5') format('truetype'),
    url('../fonts/icomoon.woff?rzcsd5') format('woff'),
    url('../fonts/icomoon.svg?rzcsd5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-github2:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-android:before {
  content: "\eac0";
}

/*Logo*/
.navbar-brand {
    padding: 0px;
    display: inline-flex;
    align-items: center;
}
.navbar-brand>img {
    height: 100%;
    padding: 10px;
    width: 50px;
    margin-right: 4px;
}
/*Login Page*/
.profile-img
{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.modal-body{
    align-items: center;
}

.form-control{
    margin : 5px auto;
    width : 50%;
    display: block;
}
.form-extra{
    margin : 5px auto;
    width : 60%;
}
.error{
    color: red;
}

#login{
    margin : auto;
    width : 75%;
    height : 75%;
    align : center;
}

#imgInp{
    margin: auto;
}

#upload-pic{
    position : relative;
    margin-top : 1em;
    margin : auto;
    width : 75%;
    height : 75%;
    align : center;
}
#upload-file{
    margin : auto;
    width : 75%;
    height : 75%;
    align : center;
}

#camera{
    display:inline-block;
    margin-top: 5px;
    align: inline;
    text-align:center
}

.cameraDisplay {
    margin: 0px auto;
    width: 400px;
    height: 300px;
    border: 10px #333 solid;
}
#videoElement {
    width: 300px;
    height: 300px;
    background-color: #666;
}

.navbar-header{
    display: inline-block;
}

#canvas{
    display: none;
}
