    <!-- Jumbotron -->
    <div ng-controller="homeController" class="container">
        <div class="jumbotron">
            <h1>
                Recognize Face By Uploading Image
            </h1>
            
            <p>
                <a class="btn btn-primary btn-lg" href="#login">Login</a>
                <a class="btn btn-success btn-lg" href="#signUp">Sign Up</a>
            </p>
        </div>
    <!-- End Jumbotron -->
    <!-- Feature -->
    <div class="row">
        <div class="col-sm-6">
            <b class="glyphicon glyphicon-camera"></b>
            <h2> Click Compare &amp; Recognize Yourself</h2>
            <p>We here to help you to click your live snap and comapre with the existing database photo using Local Binary Pattern alogorithum to authenticate as valid user with compare confidence value . </p>
        </div>

        <div class="col-sm-6">
            <b class="glyphicon glyphicon-cloud"></b>
            <h2>Store &amp; Retrieve data using cloud servers</h2>
            <p>We allow you to store all your personal information over mangoose cloud environment Mlab and all your images over AWS S3 bucket .</p>
        </div>
    </div>
    </div>
    <!-- End Feature -->
