    <!-- Jumbotron -->
    <div ng-controller="homeController" class="container">
        <div class="jumbotron">
            <h1>
                Recognize face by uploading image
            </h1>
            <p class="lead">Description should go here</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#login">Login</a>
                <a class="btn btn-success btn-lg" href="#signUp">Sign Up</a>
            </p>
        </div>
    <!-- End Jumbotron -->
    <!-- Feature -->
    <div class="row">
        <div class="col-sm-6">
            <b class="glyphicon glyphicon-camera"></b>
            <h2>Delete photo &amp; video based on a timer</h2>
            <p>Learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct."</p>
        </div>

        <div class="col-sm-6">
            <b class="glyphicon glyphicon-cloud"></b>
            <h2>Store &amp; retrieve data using cloud servers</h2>
            <p>We'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn how to retrieve the data by setting up custom queries that download and display them in the app.</p>
        </div>
    </div>
    </div>
    <!-- End Feature -->
