    <!-- Jumbotron -->
    <div ng-controller="homeController" class="container">
        <div class="jumbotron">
            <h1>
                Recognize Face By Uploading Image
            </h1>
            <p>
                <a class="btn btn-primary btn-lg" ng-hide="isUserLoggedIn" href="#/login">Login</a>
                <a class="btn btn-success btn-lg" ng-hide="isUserLoggedIn" href="#/signUp">Sign Up</a>
                <a class="btn btn-primary btn-lg" ng-show="isUserLoggedIn"href='#/upload'>Upload</a>
                <a class="btn btn-success btn-lg" ng-show="isUserLoggedIn" href='#/compare'>Compare</a>
            </p>
        </div>
    <!-- End Jumbotron -->
    <!-- Feature -->
    <div class="row">
        <div class="col-sm-6">
            <b class="glyphicon glyphicon-camera"></b>
            <h2> Click Compare &amp; Recognize Yourself</h2>
            <p>We are here to help you click your live snap and compare  it with the existing database photo using Local Binary Pattern algorithm. It is done to authenticate the valid user by comparing the face with the existing image and getting a confidence value. </p>
        </div>

        <div class="col-sm-6">
            <b class="glyphicon glyphicon-cloud"></b>
            <h2>Store &amp; Retrieve data using cloud servers</h2>
            <p>We allow you to store all your personal information over mangoose cloud environment mlab and service is hosted on AWS EC2 instance.</p>
        </div>
    </div>
    </div>
    <!-- End Feature -->
