<!DOCTYPE html>
<html lang="en" ng-app="photoRecogApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceRecognition</title>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="./static/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="./static/css/main.css" media="screen">

    <!--angular files-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
	<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>

    <script type="text/javascript" src="./static/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="./static/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="./static/ng-file-upload.js"></script>
    <script type="text/javascript" src="./static/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="./static/routeConfig.js"></script>
    <script type="text/javascript" src="./static/compareController.js"></script>
    <script type="text/javascript" src="./static/authController.js"></script>
    <script type="text/javascript" src="./static/uploadController.js"></script>
    <script type="text/javascript" src="./static/completeController.js"></script>
    <script type="text/javascript" src="./static/homeController.js"></script>
    <script type="text/javascript" src="./static/navController.js"></script>

 </head>
<body >
    <!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" ng-controller="navController" >
        <div class="navbar-header">
            <a class="navbar-brand logo" href="#"><img src="./static/images/thumbnail.jpg"><h4>Face Recognition</h4></a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">Home</a></li>
                    <li><a ng-show = "isUserLoggedIn">{a fName a} {a lName a}</a></li>
                <li><a href="#/login" ng-hide="isUserLoggedIn">Login</a></li>
                <li><a href="#/signUp" ng-hide="isUserLoggedIn">SignUp</a></li>
                <li><a class="btn" ng-click="doLogout()" ng-show="isUserLoggedIn">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End navbar -->
<!--different Viewe-->
<div id="content">
<div class="ng-view"></div>
</div>
<!-->
<!-- Footer-->
<div class="container-fluid">
<div class="row panel-footer navbar-fixed-bottom text-center">
    <div class="col-sm-4">
        <p>&copy; CMPE 273 - Team.</p>
    </div>
    <div class="col-sm-4">
        <p>
            <a class="btn btn-lg btn-info" target="_blank" href="https://github.com/sanketdhami/Project" data-icon="&#xe900;">View on GitHub</a>
        </p>
    </div>
    <div class="col-sm-4">
        <ul class="list-inline">
            <li>Akhilesh</li> |
            <li>Dhrumil</li> |
            <li>Rahil</li> |
            <li>Sanket</li> |
            <li>Tanmay</li>
        </ul>
    </div>
</div>
</div>
<!-- End Footer -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/app.js"></script>
</body>
</html>
