<div ng-controller="uploadController">
    <div class="container text-center">
        <div id="upload-pic">
            <h1> First time you need to upload your photo id</h1>
            <img ngf-src="myfile"  class="rounded float-left" width="300px" height="300px">
             <input type="file" id="imgInp" class="btn-default" ngf-change="onChange($files)" ngf-select ng-model="myfile" name="attachement" accept="image/*" />
            <hr/>
            <button class="btn btn-primary" type="submit" ng-click="uploadFile()">Upload</button>
        <!--<form id="upload-form" ng-submit="uploadFile()">-->
            <!--<input type="file" class="btn btn-default" ngf-select ng-model="myfile" name="file" ngf-accept="'image/*'" ngf-max-size="20MB"></input>-->
            <!--<input type="submit" class="btn btn-primary" value="Upload!" id="upload-button">-->
        <!--</form>-->
        </div>
    </div>
</div>

