<div ng-controller="uploadController" class="InnerClass">
    <div class="container text-center">
        <div id="upload-pic">
            <h1> First time you need to upload your photo id</h1>
            <br>
            <img ngf-src="myfile" ng-show="isPhotoSelected" class="rounded float-left" width="300px" height="300px" id="selectedImage">
            <br>
             <input type="file" id="imgInp" class="btn-default btn-lg" ngf-change="onChange($files)" ngf-select ng-model="myfile" name="attachement" accept="image/*" />
            <hr/>
            <button class="btn btn-primary btn-lg" type="submit" ng-click="uploadFile()">Upload</button>
        </div>
    </div>
</div>
